.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  margin-bottom: 5em;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
  .checkout {
    flex-flow: column;
    align-content: center;
    justify-items: center;
  }

  .checkout__right {
    align-self: center;
  }
}
