.footer {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #131921; */
    background-color: lightgray;
    color: #131921;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    padding-left: 2em;
    bottom: 0;
}

.footer__logo {
    color: #131921;
    font-size: 1em;
    font-weight: 600;
    align-self: center;
  }

.footer a {
    color: #131921;
  }

.footer p a {
      display: flex;
      justify-content: center;
  }

.footer p span{
      font-family: cursive;
    }
