.home {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  box-sizing: border-box;
  /* bottom: 100px; */
}

.home__container {
  margin-bottom: 6em;
}

.home__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -250px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.tag {
  text-align: center;
  color: rgb(37, 37, 37);
  font-weight: 500;
  margin: 0 10px;
  position: relative;
  border: 0px solid #535252;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 2px 5px 2px 5px;
}

.tabs {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.active {
  color: #f3b804;
}

.tabs > span {
  color: rgb(37, 37, 37);
  font-weight: 500;
  margin: 0 10px;
  position: relative;
  border: 1px solid #535252;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 2px 5px 2px 5px;
}
@media screen and (max-width: 600px) {
  .home__row {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .home__image {
  margin-bottom: -150px;
  }
}

@media screen and (max-width: 400px) {
  .home__image {
    margin-bottom: -75px;
  }
}
