.tabs {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .tabs > span {
    color: rgb(37, 37, 37);
    font-weight: 500;
    margin: 0 5px;
    position: relative;
    border: 1px solid #535252;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
  }
  .active {
    color: #f3b804;
  }
@media screen and (max-width: 450px) {
    .tabs {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
}